.secrets
.env
__pycache__
.pytest_cache
.venv
/experiments/**/best_model
/experiments/**/checkpoints
optuna.db
output
token_label_overlapping_analysis.ipynb
per_label_f1_scores.tex
global_metrics_pvalues.tex
experiments/exp_7_mecla_mmbert/metrics_data_split_seed_3.jsonl
debug_grouped_softmax.ipynb
per_label_f1_scores.tex
debug_grouped_softmax.ipynb
